<%= stylesheet_link_tag "comments" %>
<%= form_for(@comment, format: :json, authenticity_token: true, remote: true, html: {class: :comment_hook}) do |f| %>
  <% if @comment.errors.any? %>
  <div id="comment_error_explanation">
    <h2><%= pluralize(@comment.errors.count, "error") %> prohibited
      this comment from being saved:</h2>
    <ul>
    <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>  
  <span id="cancel_comment" class="comment-field comment-submit comment-cancel">Cancel</span>
  <span>
    <%= f.submit 'Save', class: "comment-field comment-submit" %>
  </span>
  <div class="col-sm-7 col-md-9 col-lg-10" style="float: right; padding-right: 0px; min-width: 247px">
  <span>
    <%= f.text_field :commenter, class: "comment-field col-sm-2 col-md-3 col-lg-2", placeholder: "name", style: "margin-right: 6px; min-width: 23%;" %>
  </span>
 
  <span>
    <%= f.text_field :body, class: "comment-field col-sm-6 col-md-8 col-lg-9", placeholder: "comment", style: "min-width: 170px;" %>
  </span>
  </div>
<% end %>