<%= stylesheet_link_tag "work" %>
<div style="padding: 0 !important" class="hidden-xs col-sm-2 col-md-3 col-lg-3">
	<ul class="sitemenu">
		<li class="selected">Energy Yardstick</li>
		<li>DataSecure Testing</li>
		<li>KULA</li>
		<li>Novus Sto. Reports</li>
		<li>MyVitalSigns</li>
		<li>Doctor Zeus</li>
	</ul>
</div>
<div style="padding: 0 !important" class="col-xs-12 hidden-sm hidden-md hidden-lg">
	<div class="btn-group pull-right">
		<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Project  <span class="caret"></span>
		</button>
		<ul class="dropdown-menu dropdown-menu-right .sitemenu-xs" role="menu">
			<li><a>Energy Yardstick</a></li>
			<li><a>DataSecure Testing</a></li>
			<li><a>KULA</a></li>
			<li><a>Novus Sto. Reports</a></li>
			<li><a>MyVitalSigns</a></li>
			<li><a>Doctor Zeus</a></li>
		</ul>
	</div>

</div>
<!--[if lte IE 7]>
<div id="piccontainer" class="IEpic">
	<![endif]-->
<!--[if gt IE 7]>
<div id="piccontainer">
	<![endif]-->
	<!--[if !IE]> -->
	<div class="col-sm-10 col-md-9 col-lg-9">
		<div class="hidden-xs" id="piccontainer">
			<!-- <![endif]-->
			<div class="fullpic"><div id="imgcont"></div></div>
			<ul class="thumb-list left">
				<li style="height: 64px">
					<%= image_tag "thumbs/rsz_new_sdes.png", id: "sdesimgindex" %>
				</li>
				<li style="height: 62px">
					<%= image_tag "thumbs/rsz_new_sdes_comp.png" %>
				</li>
				<li>
					<%= image_tag "thumbs/rsz_datasecure_home.png", id: "dataimgindex" %>
				</li>
				<li>
					<%= image_tag "thumbs/rsz_datasecure_details.png" %>
				</li>
				<li>
					<%= image_tag "thumbs/rsz_datasecure_upload.png" %>
				</li>
				<li style="height: 46px">
					<%= image_tag "thumbs/rsz_kula_login.png", id: "kulaimgindex" %>
				</li>
				<li style="height: 44px">
					<%= image_tag "thumbs/rsz_kula_hearts.png" %>
				</li>
				<li>
					<%= image_tag "thumbs/rsz_kula_crazy.png" %>
				</li>
			</ul>
			<ul class="thumb-list right">
				<li>
					<%= image_tag "thumbs/rsz_novus_status.png", id: "novusimgindex" %>
				</li>
				<li>
					<%= image_tag "thumbs/rsz_novus_timer.png" %>
				</li>
				<li>
					<%= image_tag "thumbs/rsz_novus_fullstatus.png" %>
				</li>
				<li>
					<%= image_tag "thumbs/rsz_vitalsigns_modulecomments.png", id: "mvsimgindex" %>
				</li>
				<li>
					<%= image_tag "thumbs/rsz_vitalsigns_monthly.png" %>
				</li>
				<li style="height: 50px">
					<%= image_tag "thumbs/rsz_vitalsigns_widgets.png" %>
				</li>
				<li style="height: 46px">
					<%= image_tag "thumbs/rsz_doctorzeus_tree.png", id: "docimgindex" %>
				</li>
				<li style="height: 48px">
					<%= image_tag "thumbs/rsz_doctorzeus_comparison.png" %>
				</li>
			</ul>
		</div>
<!--[if lte IE 7]>
<div id="sitecontainer" class="IEsiteinfo">
	<![endif]-->
<!--[if gt IE 7]>
<div id="sitecontainer">
	<![endif]-->
	<!--[if !IE]> -->
	<div id="sitecontainer">
		<!-- <![endif]-->
	</div>
	<div id="kula" class="hide">
		<div class="explanation"><div class="titleback">
			<div style="float: right; text-align: right" class="visible-xs-12 hidden-sm hidden-md hidden-lg worktitle" >K.U.L.A. CARD GAME SUITE</div>
			<div class="hidden-xs col-sm-4 col-md-6 col-lg-6 worktitle" >K.U.L.A. CARD GAME SUITE</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 langs">
				<div style="margin-right:7px" class="skillimage"><img src="sites/on_html.png"/></div><div style="margin-right:7px" class="skillimage"><img src="sites/off_net.png"/></div><div class="skillimage" ><img src="sites/on_javascript.png"/></div><div class="skillimage"><img src="sites/on_jquery.png"/></div><div style="margin-right:4px" class="skillimage"><img src="sites/on_servlets.png"/></div><div class="skillimage"><img src="sites/on_ajax.png"/></div><div class="skillimage"><img src="sites/off_c.png"/></div><div class="skillimage"><img src="sites/on_java.png"/></div><div class="skillimage"><img src="sites/off_spring.png"/></div><div class="skillimage"><img src="sites/on_tomcat.png"/></div><div class="skillimage"><img src="sites/off_jdbc.png"/></div>
			</div>
		</div>
		<div class="tasks">
			For a class project, my team and I wanted to develop an online, multiplayer card game suite built to run in your browser. We wanted the game to be fully accessible without any additional software (like Adobe Flash). The two games, Hearts and crazy eights, run entirely within HTML pages with JavaScript and jQuery.

			<ul>
				<li>Implemented game engine for Hearts and Crazy Eights using JSP and AJAX servlet calls for updating between players</li>
				<li>Designed and developed UI elements for both games using jQueryUI, animations, and CSS</li>
				<li>Built lobby to view and create games, and to launch the game after one is joined</li>
			</ul>
		</div>
	</div>
</div>
<div id="novus" class="hide">
	<div class="explanation">
		<div class="titleback"><div style="float: right; text-align: right" class="visible-xs-12 hidden-sm hidden-md hidden-lg worktitle" >NOVUS STORAGE REPORTS</div>
		<div class="hidden-xs col-sm-4 col-md-6 col-lg-6 worktitle" >NOVUS STORAGE REPORTS</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 langs">
			<div style="margin-right:7px" class="skillimage"><img src="sites/on_html.png"/></div><div style="margin-right:7px" class="skillimage"><img src="sites/off_net.png"/></div><div class="skillimage" ><img src="sites/on_javascript.png"/></div><div class="skillimage"><img src="sites/off_jquery.png"/></div><div style="margin-right:-1px" class="skillimage"><img src="sites/on_servlets.png"/></div><div class="skillimage"><img src="sites/off_ajax.png"/></div><div class="skillimage"><img src="sites/off_c.png"/></div><div class="skillimage"><img src="sites/on_java.png"/></div><div class="skillimage"><img src="sites/on_spring.png"/></div><div class="skillimage"><img src="sites/on_tomcat.png"/></div><div class="skillimage"><img src="sites/on_jdbc.png"/></div>
		</div>
	</div>
	<div class="tasks">
		Internal tool to control and monitor a daily job that processes hundreds of thousands of SQL rows from several locations and consolidates the needed data to another location, where it is used by multiple teams.

		<ul>
			<li>UI to view real-time status of a job in progress</li>
			<li>Added timers and UI to view a process time breakdown data for jobs</li>
			<li>General maintenance and on-going support</li>
		</ul>
	</div>
</div>
</div>
<div id="datasecure" class="hide">
	<div class="explanation"><div class="titleback">
		<div style="float: right; text-align: right" class="visible-xs-12 hidden-sm hidden-md hidden-lg worktitle" >DATASECURE APPLIANCE TESTING TOOL</div>
		<div class="hidden-xs col-sm-4 col-md-6 col-lg-6 worktitle" >DATASECURE APPLIANCE TESTING TOOL</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 langs">
			<div style="margin-right:7px" class="skillimage"><img src="sites/on_html.png"/></div><div style="margin-right:7px" class="skillimage"><img src="sites/off_net.png"/></div><div class="skillimage" ><img src="sites/on_javascript.png"/></div><div class="skillimage"><img src="sites/on_jquery.png"/></div><div style="margin-right:4px" class="skillimage"><img src="sites/on_servlets.png"/></div><div class="skillimage"><img src="sites/on_ajax.png"/></div><div class="skillimage"><img src="sites/off_c.png"/></div><div class="skillimage"><img src="sites/on_java.png"/></div><div class="skillimage"><img src="sites/off_spring.png"/></div><div class="skillimage"><img src="sites/on_tomcat.png"/></div><div class="skillimage"><img src="sites/off_jdbc.png"/></div>
		</div>
	</div>
	<div class="tasks">
		A web-based tool that provided a UI and back-end to support testing the status and consistency of various Ingrian appliances at Thomson. The appliances provided encryption/decryption services to the company's key products. I was tasked with developing this simple tool from the ground up.

		<ul>
			<li>Built from scratch to run on a Tomcat server</li>
			<li>Desgined and implemented efficient one page UI using AJAX and jQuery</li>
			<li>Included 3 ways to test: Manual (input all parameters), Default (ran a test set against selected appliances), File (ran a test set from an uploaded file against selected appliances)</li>
			<li>Testing is accomplished through AJAX calls to a servlet, which uses Java to run the tests themselves and respond with JSON data</li>
		</ul>
	</div>
</div>
</div>
<div id="mvs" class="hide">
	<div class="explanation"><div class="titleback">
		<div style="float: right; text-align: right" class="visible-xs-12 hidden-sm hidden-md hidden-lg worktitle" >MYVITALSIGNS</div>
		<div class="hidden-xs col-sm-4 col-md-6 col-lg-6 worktitle" >MYVITALSIGNS</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 langs">
			<div style="margin-right:7px" class="skillimage"><img src="sites/off_html.png"/></div><div style="margin-right:7px" class="skillimage"><img src="sites/on_net.png"/></div><div class="skillimage" ><img src="sites/on_javascript.png"/></div><div class="skillimage"><img src="sites/on_jquery.png"/></div><div class="skillimage"><img src="sites/off_servlets.png"/></div><div class="skillimage"><img src="sites/off_ajax.png"/></div><div class="skillimage"><img src="sites/on_c.png"/></div><div class="skillimage"><img src="sites/off_java.png"/></div><div class="skillimage"><img src="sites/off_spring.png"/></div><div class="skillimage"><img src="sites/off_tomcat.png"/></div><div class="skillimage"><img src="sites/on_jdbc.png"/></div>
		</div>
	</div>
	<div class="tasks">
		Large application used internally by many other teams to monitor applications, view historic data, submit requests, generate reports, and more. The architecture is based on tabs and widgets, which can be customized for each user. 

		<ul>
			<li>On-going support including handling customer issues and requests, fixing bugs, and implementing new enhancements</li>
			<li>Enhanced several features in an exportable PowerPoint, gaining experience in OpenXML and using PowerPoint templates</li>
			<li>Implemented new widgets by customer request, gaining experience in Linq, dotNetCharting, and lots of SQL</li>
		</ul>
	</div>
</div>
</div>
<div id="doctorzeus" class="hide">
	<div class="explanation"><div class="titleback">
		<div style="float: right; text-align: right" class="visible-xs-12 hidden-sm hidden-md hidden-lg worktitle" >DOCTOR ZEUS</div>
		<div class="hidden-xs col-sm-4 col-md-6 col-lg-6 worktitle" >DOCTOR ZEUS</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 langs">
			<div style="marginright:7px" class="skillimage"><img src="sites/on_html.png"/></div><div style="margin-right:7px" class="skillimage"><img src="sites/off_net.png"/></div><div class="skillimage" ><img src="sites/on_javascript.png"/></div><div class="skillimage"><img src="sites/on_jquery.png"/></div><div style="margin-right:4px" class="skillimage"><img src="sites/on_servlets.png"/></div><div class="skillimage"><img src="sites/on_ajax.png"/></div><div class="skillimage"><img src="sites/off_c.png"/></div><div class="skillimage"><img src="sites/on_java.png"/></div><div class="skillimage"><img src="sites/off_spring.png"/></div><div class="skillimage"><img src="sites/on_tomcat.png"/></div><div class="skillimage"><img src="sites/off_jdbc.png"/></div>
		</div>
	</div>
	<div class="tasks">
		Developed from scratch by another Maverick intern and myself, Doctor Zeus is a replacement/consolidation of a few older features on existing tools. The internal tool would be used by Thomson groups to determine what servers mapped to 'vips' and groups, and to compare system information, environment variables, and other data between any number of servers. 
		<ul>
			<li>Developed custom tree view for the box hierarchy that allows multiple selections for comparison</li>
			<li>Desgined and implemented comparator servlet and web view</li>
			<li>Worked with teammate on designing overall menu and page design</li>
		</ul>
	</div>
</div>
</div>
<div id="sdes" class="hide">
	<div class="explanation"><div class="titleback">
		<div style="float: right; text-align: right" class="visible-xs-12 hidden-sm hidden-md hidden-lg worktitle" >CITY OF AMES ENERGY YARDSTICK</div>
		<div class="hidden-xs col-sm-4 col-md-6 col-lg-6 worktitle" >CITY OF AMES ENERGY YARDSTICK</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 langs">
			<div style="margin-right:7px" class="skillimage"><img src="/sites/on_html.png"></div><div style="margin-right:7px" class="skillimage"><img src="/sites/off_net.png"></div><div class="skillimage"><img src="/sites/on_javascript.png"></div><div class="skillimage"><img src="/sites/on_jquery.png"></div><div style="margin-right:4px" class="skillimage"><img src="/sites/off_servlets.png"></div><div class="skillimage"><img src="/sites/on_ajax.png"></div><div class="skillimage"><img src="/sites/off_c.png"></div><div class="skillimage"><img src="/sites/off_java.png"></div><div class="skillimage"><img src="/sites/off_spring.png"></div><div class="skillimage"><img src="/sites/off_tomcat.png"></div><div class="skillimage"><img src="/sites/on_jdbc.png"></div>
		</div>
	</div>
	<div class="tasks">
		For senior design, a two semester project at Iowa State, the City of Ames proposed the Energy Yardstick application, which will provide residents of Ames with personalized energy efficiency metrics based on past usage and other variables. User's will be able to compare their rating to 'similar' houses (in terms of size, number of occupants, etc), and also to the average for this area. Finally, they can access historical usage data for their account.
		<br>
		This tool will be hosted on a PHP server provisioned by the City, and the city plans to have our tool available for users directly from their main website.

		<ul>
			<li>Project Lead</li>
			<li>Responsible for UI design and implementation</li>
		</ul>
		<a target="_new" href="http://www.thecityofames.org/php/login.php">View Live Development Server</a>
	</div>
</div>
</div>
</div>
</div>
<%= javascript_include_tag "work" %>